.est_header {
  margin-bottom: 20px;
}
.est_info p {
  margin: 0;
}
.est_number {
  font-size: 22px;
  font-weight: bold;
}
.est_subtitle {
  margin-top: 15px;
  margin-bottom: 15px;
}
.atividad_grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
/* {ex atividade} */
.conten_container{
    padding: 30px 50px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    flex: 1;
    box-sizing: border-box;
}
.atividad_container{
    width: 260px;
    height: 150px;
    background-color: #006c67;
    border: solid 3px #003844;
    border-radius: 5px;
}
.at_c{
    display: flex;
    flex-direction: column;
    height: 50% !important;

    margin: 0 7px 0 7px !important;

    font-weight: 600 !important;

    color: white;
}
.at_c > *{
    margin: 0;
}
.at_name{
    width: 253px;
    height: 75px !important;
}
.at_name > p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: 55px;
    margin-bottom: 0;
}
.gc_container, .etc_f_container{
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 0;
}
.gc_container > *{
    height: 20px;
    margin: 0 5px 0 0;
}
.data_atividade {
  width: 90%;
  height: 10px;
  color: white;
  display: flex;
}