main{
    margin-top:  0;
    overflow: auto;
}

h1{
    margin: 0;
}

/* Textos */
.text-size-big-Rantaro {
    font-family: "Rantaro";
    font-size: 140px;
    font-weight:normal;
    text-align: center;
}
.text-size-medium-Rantaro {
    margin: 5px;
    font-family: "Rantaro";
    font-size: 80px;
    font-weight:normal;
    text-align: left;
}

.text-size-small-Rantaro {    
    font-family: "Rantaro";
    font-size: 40px;
    font-weight:normal;
    text-align: center;
}

.text-size-small {    
    font-size: 40px;
    font-weight:normal;
    text-align: center;
}

.text-hero {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Imagens */

.image-homepage{
    width: 100%;
    height: 100%;
}

.image-hero {
  height: 40rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/imgs/atividade.jpeg");
  background-size: 2000px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Butões */

.button-comic {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #61D095;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button-comic:hover {
  background-color: #fff;
  color: #004a51;
  border: 2px solid #013944;
  box-shadow: 5px 5px 0px #002b13;
}

.button-comic:active {
  background-color: #003844;
  box-shadow: none;
  transform: translateY(4px);
}

/* Containers */

/* --- Container que tem Tudo da Página --- */
.content_container{
    margin: 20x;
    width: 100%;
    height: 100%;
}
/* ------------------------------------------ */

/* --- Container de Mostrar os Vários Tipos de Atividades --- */
.container-activity-bullet_list{
    margin: 10px 5% 0;
    font-size: 30px;
    display: flex;
    justify-content: center;
}
.container-activity-bullet_list img{
    width: 750px;
    height: 750px;
}
.container-activity-bullet_list a{
    text-decoration: none;
}

.container-activity-bullet_list a:visited{
    color: transparent;
}
/* ------------------------------------------ */

/* --- Container de Mostrar as Percentagens --- */
.container-percentages-background {
    background-color: #61D095;
    border-radius: 20px;
    padding: 60px 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

/* Título */
.container-percentages-background > .text-size-medium-Rantaro {
    text-align: center;
    font-size: 70px;
    color: #003844;
    margin: 0;
}

/* Grid das estatísticas */
.container-percentages {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 45px;
    width: 90%;
    max-width: 1400px;
}

/* Cada bloco */
.container-percentages > div {
    background-color: #ffffff55;
    border: 3px solid #003844;
    border-radius: 10px;
    padding: 25px 20px;
    text-align: center;
    box-shadow: 6px 6px 0px #003844;
}

/* Títulos dentro de cada bloco */
.container-percentages h1 {
    font-size: 36px;
    font-family: "Rantaro";
    font-weight: normal;
    color: #003844;
    margin-bottom: 15px;
}

/* percentagens */
.container-percentages p strong {
    font-size: 60px;
    font-weight: bold;
    color: #003844;
}
/* ------------------------------------------ */

/* --- Container para Mostrar as Atividades --- */
.container-activities{
    display: flex;
    justify-content: center;
}

.activityM{
    width: 260px;
    height: 150px;
    background-color: #006c67;
    border: solid 3px #003844;
    border-radius: 5px;
    margin: 10px;
}

.activity{
    width: 260px;
    height: 150px;
    background-color: #006c67;
    border: solid 3px #003844;
    border-radius: 5px;
    margin: 10px;
    color: #fff;
    padding: 0 5px 0;
}

.activity div{
    height: 50%;
}

.activity-icons{
    height: 50%;
    display:flex;
    margin: 10px 0 0;
}

.activity h1{
    font-size: large;
    font-weight: bold;
    margin: 1px;
}

.activity p{
    font-size: medium;
    font-weight: normal;
    margin: 1px;
}

.activity img{
    height: 20px;
    margin: 0 5px 0 0;
}

.activity button{
    margin: auto;
    margin-top: 5px;
    display: flex;
    align-items: center;
    width: 200px;
    height: 70%;}
/* ------------------------------------------ */
/* tudo para baixo não foi feito pelo Tiago */
.at_c{
    display: flex;
    flex-direction: column;
    height: 50% !important;
    margin: 0 7px 0 7px !important;
    font-weight: 600 !important;

    color: white;
}

.at_c > *{
    margin: 0;
}

.at_name{
    width: 250px;
    height: 75px !important;
}

.at_name > p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: 55px;
    margin-bottom: 0;
    position: flex;
}

.gc_container, .etc_f_container{
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 0;
}

.gc_container > *{
    height: 20px;
    margin: 0 5px 0 0;
}

.btn_container > button{
    display: flex;
    margin-top: 15px;
    width: 82%;
    height: 40px;
    align-items: center;
    justify-content: center;

}