main{
    margin-top:  0;
    overflow: auto;
}

h1{
    margin: 0;
}

.big-tittles {
    font-family: "Rantaro";
    font-size: 80px;
    font-weight:normal;
}
.small-tittles {    
    font-size: 20px;
    font-weight:normal;
}

.container-activities{
    display: flex;
    justify-content: center;
}

.content_container{
    margin: 20x;
    width: 100%;
    height: 100%;
}

.activity_bullet_list{
    margin: 5%;
    font-size: 30px;
}

.activity{
    width: 260px;
    height: 150px;
    background-color: #006c67;
    border: solid 3px #003844;
    border-radius: 5px;
    margin: 10px;
}

.image-homepage{
    width: 100%;
    height: 100%;
}

.hero-image {
  height: 40rem;
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../../public/imgs/atividade.jpeg");
  background-size: 2000px;
  background-position: center;
  background-repeat: no-repeat;
}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* Botão com animação */
.comic-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #61D095;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #004a51;
  border: 2px solid #013944;
  box-shadow: 5px 5px 0px #002b13;
}

.comic-button:active {
  background-color: #003844;
  box-shadow: none;
  transform: translateY(4px);
}
/* tudo para baixo não foi feito pelo Tiago */

.at_c{
    display: flex;
    flex-direction: column;
    height: 50% !important;

    margin: 0 7px 0 7px !important;

    font-weight: 600 !important;

    color: white;
}

.at_c > *{
    margin: 0;
}

.at_name{
    width: 253px;
    height: 75px !important;
}

.at_name > p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: 55px;
    margin-bottom: 0;
    position: flex;
}

.gc_container, .etc_f_container{
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 0;
}

.gc_container > *{
    height: 20px;
    margin: 0 5px 0 0;
}

.btn_container > button{
    display: flex;

    width: 82%;
    height: 40px;
    /*align-items: center;*/
    justify-content: center;
    margin: auto;
}