.content_container{
    margin: 20px;
    height: 80vh;
}

.atividade_container{
    width: 260px;
    height: 150px;

    background-color: #006c67;
    border: solid 3px #003844;
    border-radius: 5px;
}

.at_c{
    display: flex;
    flex-direction: column;
    height: 50% !important;

    margin: 0 7px 0 7px !important;

    font-weight: 600 !important;

    color: white;
}

.at_c > *{
    margin: 0;
}

.at_name{
    width: 253px;
    height: 75px !important;
}

.at_name > p {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal;
    height: 55px;
    margin-bottom: 0;
    position: flex;
}

.gc_container, .etc_f_container{
    display: flex;
    flex-direction: row;
    margin: 0 5px 0 0;
}

.gc_container > *{
    height: 20px;
    margin: 0 5px 0 0;
}

.btn_container > button{
    display: flex;

    width: 82%;
    height: 40px;
    /*align-items: center;*/
    justify-content: center;
    margin: auto;
}

.comic-button {
  display: inline-block;
  padding: 5px 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #fff;
  background-color: #61D095;
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 5px 5px 0px #000;
  transition: all 0.3s ease;
  cursor: pointer;
}

.comic-button:hover {
  background-color: #fff;
  color: #004a51;
  border: 2px solid #013944;
  box-shadow: 5px 5px 0px #002b13;
}

.comic-button:active {
  background-color: #003844;
  box-shadow: none;
  transform: translateY(4px);
}

.titulos-grandes {
    font-family: "Rantaro";
    font-size: 80px;
    font-weight:normal;
}

/* .content_container {
    margin: 0 !important;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at 25% 25%, #a3b1c6 15%, transparent 15%),
    radial-gradient(circle at 75% 75%, #a3b1c6 15%, transparent 15%);
  background-size: 10px 10px;
  background-color: #ffffff;
} */

h1{
    margin: 0;
}