.info_{
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
}
.info_c {
    padding: 50px 50px;
    flex: 1;
    background: white;
}
.info_c h1 {
    font-weight: bold;
    margin-bottom: 20px;
}
.info_p {
    margin-bottom: 20px;
}
.info_p h3 {
    margin-bottom: 5px;
    font-size: 17px;
}
.info_p p {
    color: #333;
}
/*IMAGEM  PERFIL  */
.profile_pic {
    border: 2px solid black;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile_pic img {
    width: 40px;
}
.edit_btn {
    margin-top: 10px;
    padding: 10px 18px;
    background: #3DBD5D;
    color: white;
    border-radius: 6px;
    font-size: 14px;
}
.edit_btn:hover {
    background: #2E9F4C;
}
.info_menu_list li button {
    background: none;
    color: white;
    font-size: 15px;
    padding: 0;
    margin-left: 8px;
    text-align: left;
}
.info_menu_list li.active button {
    font-weight: bold;
}
/* EDITAR */
.info_edit_ {
    display: flex;
    flex-direction: column;
    padding: 20px 0.5px;
    font-family: Arial, sans-serif;
    background: #ffffff;
}
.info_edit_c {
    padding: 40px 60px;
    background: white;
}
.info_edit_c h1 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
}
.edit_p {
    margin-bottom: 25px;
}
.edit_p h3 {
    margin-bottom: 8px;
    font-size: 17px;
}
.edit_input {
    width: 260px;
    padding: 6px 10px;
    border: 1px solid #c5c5c5;
    border-radius: 6px;
    background: #e6f8f1;
    outline: none;
}
.edit_input:focus {
    border-color: #009b7a;
}
.save_btn {
    margin-top: 10px;
    padding: 10px 18px;
    background: #2eb874;
    color: white;
    border-radius: 6px;
    font-weight: bold;
}
.save_btn:hover {
    background: #23965c;
}