.bg_container{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #61D095;
}

.ap_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ap_name > *{
    height: 80px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form_container{
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;

    height: fit-content;
    width: 400px;

    margin: 10px 0 0 0;

    background-color: white;
    border-radius: 10px;
}

.log_container{
    width: 80%;
}

.ep_container{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    margin: 5px 0 10px 0;
}

.ep_container > *{
    margin: 5px 0 0 0;
}

.btn_logIn{
    display: flex;
    justify-content: center;
}

.btn_logIn > input{
    text-align: center;
}

.reg_container{
    display: flex;
    flex-direction: row;
    margin: 10px 0 30px 0;
}

.reg_container > * {
    width: 50%;
}

.reg_container > label{
    text-align: center;
}

.btn_enter{
    padding: 5px;
    text-align: center;

    background-color: #61D095;
    border: 0;
    border-radius: 5px;

    text-decoration: none;
    color: black;

    font-weight: bold;

    cursor: pointer;
}

.ipt_ep{
    background-color: #61D095;
    /* border: solid 1px #414141; */
    border: 0;
    box-shadow: 1px 1px 4px 0px #414141 inset;

    border-radius: 5px;

    padding: 5px;
}