.bg_container{
    height: 100vh;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-color: #61D095;
}

.ap_name{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.ap_name > *{
    height: 80px;
    
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form_container{
    display: inherit;
    flex-direction: inherit;
    align-items: inherit;

    height: fit-content;
    width: 300px;

    margin: 10px 0 0 0;

    background-color: white;
    border-radius: 10px;
}

.log_container{
    width: 80%;
}

.ep_container{
    display: flex;
    flex-direction: column;
}

.btn_logIn{
    display: flex;
    justify-content: center;
}

.btn_logIn > input{
    text-align: center;
}

.reg_container{
    display: flex;
    flex-direction: row;
    margin: 0 0 30px 0;
}

.reg_container > * {
    width: 50%;
}