main{
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.nav_container{
    width: 200px;

    background-color: #006C67;
    color: white;
}

.links_container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links_container div > *{
    color: white;
    text-decoration: none;
}

.link_box{
    display: flex;
    align-items: center;

    width: 80%;
    height: 30px;

    border-radius: 5px;

    padding: 5px;
}

.link_box:hover{
    background-color: #003844;
}

.link_box a{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    width: 100%;

    font-weight: bold;
}

.link_box a img{
    margin: 0 5px 0 0;
    height: 20px;
}